body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Helvetica"; }

h2 {
  color: #232329; }

#stats {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background: black;
  color: white;
  padding: 10px;
  box-sizing: border-box; }
  #stats.hidden {
    display: none; }

.main {
  background: white;
  width: 900px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 0px 50px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.buttonContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.btn {
  background: #f1f1f3;
  color: #2e3241;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background .3s;
  margin-right: 20px;
  cursor: pointer; }
  .btn.btn-alert {
    background: #e83030;
    color: white; }
    .btn.btn-alert:hover {
      background: #d92626; }
  .btn:hover {
    background: #e3e3e8; }
  .btn:active {
    background: #c8c8d0; }
