body {
  // background: rgb(239, 239, 244);
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Helvetica";
}

h1 {
}

#stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background: black;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  &.hidden {
    display: none;
  }
}

.main {
  background: white;
  width: 900px;
  height: 100vh;
  margin: 0 auto;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  padding: 200px 50px;
  box-sizing: border-box;

  .btn {
    background: rgb(239, 239, 244);
    color: rgb(46, 50, 65);
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background .2s;
    margin-right: 20px;
    cursor: pointer;

    &.btn-alert {
      background: rgb(237, 43, 43);
      color: white;
      &:hover {
        background: rgb(185, 41, 41);
      }
    }

    &:hover {
      background: rgb(220, 220, 228);
      box-shadow: 0 0 10px rgba(0,0,0,.1);

    }

    &:active {
      background: rgb(169, 179, 219);
      // border: none;
    }
  }
}
