body {
  background: rgb(239, 239, 244);
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Helvetica";
}

#stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background: black;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  &.hidden {
    display: none;
  }
}

.main {
  background: white;
  width: 900px;
  height: 100vh;
  margin: 0 auto;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  padding: 50px;
  box-sizing: border-box;

  .button {
    background: rgb(223, 227, 244);
    color: rgb(46, 50, 65);
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    // transition: background .2s transform .5s;
    // position: absolute;
    // left: 0;
    // top:0;

    &:hover {
      background: rgb(196, 200, 215);
      box-shadow: 0 0 10px rgba(0,0,0,.1);
      cursor: pointer;
    }

    &:active {
      background: rgb(169, 179, 219);
      // border: none;
    }
  }
}
